@import url(http://fonts.googleapis.com/css?family=Roboto:300|Lato:300);

body {
	background-color: #E6E6DC;
	text-align: center;
}

body * {
	margin-left: auto;
	margin-right: auto;
}

#text {
	font-family: Lato, Verdana;
	font-size: 30px;
	width: 60%;
	text-align: center;
	display: none;
}

#logo {
	width: 50%;
	height: auto;
}

h1 {
	color: #C86368;
}

.portfolio-item {
	text-align: left;
	background-color: #D6D6CB;
	opacity: 1;
	padding: 30px;
	padding-left: 25px;
	min-height: 150px;
	margin-top: 40px;
	box-shadow: 0 0 10px 3px rgba(255,255,255,.35);
	transition: background-color .5s;
}

.portfolio-item:hover {
	transition: background-color .5s;
	background-color: #C9C9C1;
}

.portfolio-item:first-child {
	margin-top: 0;
}

.portfolio-image {
	width: 150px;
	height: 150px;
	padding-bottom: 15px;
	float: left;
}

.portfolio-text {
	padding-left: 173px;
	font-size: 16px;
	line-height: 24px;
	color: black;
	font-family: Roboto, Verdana;
}

.portfolio-text a, .portfolio-text a:visited {
	transition: color .7s;
	color: black;
}

.portfolio-text a:hover {
	transition: color .3s;
	color: #616161;
}

.curvy {
	border-radius: 10px;
}

#coffee {
	width: 25%;
	height: auto;
}

@media only screen and (min-width : 320px) and (max-width : 700px) {
	#logo {
		width: 80%;
	}

	#text {
		width: 80%;
	}

	.portfolio-item {
		width: 80%;
		text-align: center;
	}

	.portfolio-image {
		float: inherit;
	}

	.portfolio-text {
		padding-left: 0;
	}

	#coffee {
		width: 50%;
		height: auto;
	}
}