@import url(http://fonts.googleapis.com/css?family=Roboto:300|Lato:300);

body {
	background-color: #E6E6DC;
	text-align: center;
}

body * {
	margin-left: auto;
	margin-right: auto;
}

#text, #commits, #commits-hidden {
	font-family: Lato, Verdana;
	font-size: 30px;
	width: 60%;
	text-align: center;
}

#text, #commits {
	display: none;
}

#commits {
	margin-top: 12px;
}

#commits-unfold {
	font-size: 18px;
}

#commits-hidden {
	font-size: 16px;
	transition: opacity .5s;
	opacity: 1;
}
#commits-hidden.hidden {
	display: none;
	transition: opacity .5s ease;
	opacity: 0;
}

#commits-arrow {
	display: inline-block;
	vertical-align: bottom;
	width: 25px;
	height: 25px;
	background-size: contain;
	background-image: url(arrow.png)
}

.arrow-down {
	transform: rotate(90deg);
	transition: transform .5s ease;
}

.arrow-up {
	transition: all .5s ease;
	transform: rotate(-90deg);
}

#logo {
	width: 50%;
	height: auto;
}

h1 {
	color: #C86368;
}

.portfolio-item {
	text-align: left;
	background-color: #D6D6CB;
	opacity: 1;
	padding: 30px;
	padding-left: 25px;
	min-height: 150px;
	margin-top: 40px;
	box-shadow: 0 0 10px 3px rgba(255,255,255,.35);
	transition: background-color .5s;
}

.portfolio-item:hover {
	transition: background-color .5s;
	background-color: #C9C9C1;
}

.portfolio-item:first-child {
	margin-top: 0;
}

.portfolio-type {
	float: right;
	width: 100px;
	height: 100px;
}

.portfolio-image {
	width: 150px;
	height: 150px;
	background-repeat: no-repeat;
	padding-bottom: 15px;
	float: left;
}

.content-text {
	font-size: 16px;
	line-height: 24px;
	font-family: Roboto, Verdana;
}

.no-wrapping {
	word-wrap: break-word;
}

.portfolio-text {
	padding-left: 173px;
}

a, a:visited {
	transition: color .7s;
	color: black;
}

a:hover {
	transition: color .3s;
	color: #616161;
}

.curvy {
	border-radius: 10px;
}

.coffee {
	width: 100%;
	height: auto;
}

.coffee-wrapper {
	width: 40%;
	position: relative;
}

.coffee-wrapper h4 {
	display: none;
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	font-size: 18px;
}

.coffee-wrapper:hover h4 {
	display: inline;
}

.coffee-wrapper:hover img.clickable {
	transition: opacity 1s;
	opacity: 0.3;
}

@media only screen and (min-width : 320px) and (max-width : 700px) {
	h1 {
		font-size: 30px;
	}

	#text {
		font-size: 20px;
	}

	#logo {
		width: 80%;
	}

	#text {
		width: 80%;
	}

	.portfolio-item {
		width: 80%;
		text-align: center;
	}

	.portfolio-image {
		float: inherit;
	}

	.portfolio-text {
		padding-left: 0;
	}

	.coffee-wrapper {
		width: 45%;
	}
}

@media only screen and (min-width : 320px) and (max-width : 880px) {
	.portfolio-type {
		display: none;
	}
}